body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
}

.task {
    border: 1px solid #141414;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button-container button{
    min-width: 100px;
}

.task-name {
    font-size: 22px;
    font-weight: bold;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-status {
    font-size: 18px;
    font-weight: bold;
    color: rgb(72, 72, 252);
}
 
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#progressBarContainer {
    width: 100%;
    background-color: #c2c2c2;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #29a7bd;
    transition: width 0.3s ease;
}

#taskForm {
    border: 1px solid #141414;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-container :first-child {
    background-color: rgb(190, 190, 40);
}

.button-container :last-child {
    background-color: rgb(189, 21, 21);
}

.button-container :nth-child(2) {
    background-color: rgb(41, 80, 185);
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-container{
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
